{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@antfu", "@nuxtjs/eslint-config-typescript", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["./server/**/*.ts"],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": ["info", "warn", "trace", "error"]
          }
        ]
      }
    },
    {
      "files": ["./**/*.json"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
